@import './variables';

.TeamForm {
  padding-top: 40px;
  width: 686px;
  margin-left: 15px;
  background-color: $grey-white;
  padding-bottom: 20px;

  .md-text-field {
    &::placeholder {
      color: $red;
    }
  }

  .TeamForm__team-name {
    width: 500px;
  }

  .TeamForm__select {
    margin-left: 14px;
    margin-top: -3px;

    .md-list {
      max-height: 120px;
    }
  }

  .TeamForm__forms-section {
	  background-color: $white;
  }

  .TeamForm__team--detail {
    margin-top: -40px;
    margin-bottom: 70px;
  }

  .TeamForm__bottom-section {
    margin-top: -70px;
    margin-bottom: 40px;
    margin-left: 470px;
  }

  .TeamForm__save { 
	  display: inline;
    color: $light-pink;
    font-weight: bold;

      &:disabled {
      color: $grey-text;
     } 
  }

  .TeamForm__remove { 
	  display: inline;
    color: $light-pink;
    font-weight: bold
  }

  .TeamForm__message {
    margin-top: -69px;
	  margin-left: -192px !important;
  }

  #TeamForm_div {
	  .md-text-field {
		  color: $black;
		  font-size: 1.5em;
		}
			
    .md-text--theme-secondary {
      color: $light-pink;
    }

    .md-text--error {
      color: $black;
    }
  }

  .TeamForm__register-pass {
    color: $light-green;
    margin-left: -465px;
    padding-right: 390px;  

    .md-avatar {
      border: 2px solid $light-green;
      height: 20px;
      width: 20px;
    }
  }

  .TeamForm__saved-icon {
    font-size: 12px;
  }

  .TeamForm__register-fail {
    color: $red;
    margin-left: -465px;
    padding-right: 260px;

    .md-avatar {
      border: 2px solid $red;
      height: 20px;
      width: 20px;
    }
  }

  .TeamForm__saved-icon {
    font-size: 12px;
  }
}

#domain-dropdown-toggle {
  margin-top: 19px;
}
